logs
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules

dist
dist-ssr

.vite
*.local
.vscode/*
!.vscode/extensions.json
.idea

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

deno.lock
temp
private
private/*

package-lock.json
package.json

vite.config.ts.timestamp-*

.spritesheet-cache
.spritesheet-cache/*
.audios-cache
.audios-cache/*

database
database/*

release
release/*
pnpm-lock.yaml

go.sum
go.work.sum

!/build/.npmkeep

app/src/main/assets/*
app/src/main/assets
app/src/main/res
app/src/main/res/*
!app/src/main/res/values
!app/src/main/res/xml/file_paths.xml

__pycache__
__pycache__/*