@use "../palette.scss";
@use "../fonts.scss";
@use "./debug_menu.scss";
@use "./gameOver.scss";
@use "./inventory.scss";
@use "./mobile.scss";
@use "./map.scss";
@use "./tab.scss";
#game {
    user-select: none;
    --webkit-user-select: none;
    position: fixed;
    touch-action: none;

    position: absolute;
    top: 0px;
    left: 0px;
    left: 0px;
    right: 0px;

    width: 100%;
    height: 100%;
}
#game-canvas{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    pointer-events: all;
    &:focus {
        outline: none !important;
        border: none !important;
    }
}
#game-gui {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: 0 0;
    overflow: visible;
    z-index: 100;
    pointer-events: none;
    *{
        pointer-events: auto;
    }
}
#boost-bar-container,
#health-bar-container{
    display: block;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    position: absolute;
    left: 5px;
    background: palette.$transparent_bg;
    border-radius: 2px;

    width: 330px;
    transform: translateY(-100%),translateX(-100%);
    font-size: 20px;
    font-family: "Russo-One", serif;
    
    @media screen and (max-width: palette.$screen_medium) {
        width: 130px;
        font-size: 10px;
    }
    
}
#health-bar-container {
    bottom: 5px;
    height: 30px;

    #health-bar,
    #health-bar-animation {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        height: 100%;
        width: 100%;
        transition: width ease-in-out 3s;
    }

    #health-bar {
        background: linear-gradient(90deg, #fff,#dfdfdf);
        transition: width ease-in-out 0.2s;
    }

    #health-bar-animation {
        opacity: 50%;
        background: #ff0000;
    }

    #health-bar-amount {
        position: absolute;
        color: #fff;
        font-style: italic;
        z-index: 1;
        top:50%;
        left: 103%;
        transform: translateY(-50%);

    }
    @media screen and (max-width: palette.$screen_medium) {
        height: 20px;
    };
}
#boost-bar-container {
    bottom: 40px;
    height: 10px;

    #boost-bar {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        height: 100%;
        width: 0%;
        transition: width ease-in-out 3s;
        transition: width ease-in-out 0.2s;
    }

    #boost-bar-amount {
        position: absolute;
        color: #fff;
        font-style: italic;
        z-index: 1;
        top:50%;
        left: 103%;
        transform: translateY(-50%);
    }
    @media screen and (max-width: palette.$screen_medium) {
        height: 10px;
        bottom: 30px;
    };
}

#bottom-center-container{
    position: absolute;
    left: 5px;
    background-color: #0002;
    bottom: 60px;
    width: 200px;
    height: 80px;
    span{
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
        top: 50%;
        font-family: "Russo-One";
        font-size: 50px;
    }
    #action-info{
        position: absolute;
        top: -30px;
        left: 50%;
    }
    #current-item-slot{
        position: absolute;
        right: 103%;
        background-color: #0002;
        height: 80px;
        width: 80px;
        img{
            width: 70px;
            height: 70px;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        bottom: 45px;
        width: 100px;
        height: 40px;
        span{
            font-size: 20px;
        }
    }
}

#ammos-inventory{
    display: grid;
    grid-template-columns: repeat(auto, 5);
    gap: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    justify-items: end;
    pointer-events: none;
    .ammo-slot{
        background-color: #0003;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        pointer-events: auto;
        .count {
            font-family: "Russo-One", sans-serif;
            text-align: center;
            font-size: 15px;
            text-anchor: middle;
        }
        .icon{
            width: 30px;
            height: 30px;
            margin: auto;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            
        }
    }
    
    .ammo-slot:hover{
        border: 2px solid #ccc;
    }
    @media screen and (max-width: palette.$screen_medium){
        .ammo-slot{
            .count{
                font-size: 10px;
            }
            .icon{
                width: 12px;
                height: 12px;
            }
        }
        left: 3px;
    }
}
#equipaments{
    position: absolute;
    background-color: #0002;
    top: 5px;
    right: 5px;
    height: 150px;
    width: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    .skin-closeup{
        position: absolute;
        scale:30%;
        transition: -50%,-50%;
        left: 26%;
        top: -26%;
    }
    .inventory-item-slot{
        margin: 0%;
        img{
            transform: unset;
            rotate: unset;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        height: 60px;
        width: 100px;
        top: 3px;
        right: 3px;
        .skin-closeup{
            scale:10%;
            transition: -50%,-50%;
            left: 0px;
            top: -90px;
        }
    }
}
#gui-weapons{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;

    display: flex;
    flex-direction: row;
    gap: 5px;

    width: 32%;

    .weapon-slot{
        width: 100%;
        display: block;
        position: relative;
    }
    @media screen and (max-width: palette.$screen_medium) {
        .weapon-slot{
            height: 50px;
            font-size: 7px;
            .weapon-slot-image{
                width: 30px;
            }
            .weapon-slot-number{
                left:86%;
            }
            .weapon-slot-name{
                bottom: 3px;
                right: 3px;
            }
        }
        
    }
}
#killfeed-container{
    position: absolute;
    right: 300px;
    top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .killfeed-message{
        background-color: #0003;
        border-radius: 20px;
        font-family: "Russo-One";
        font-size: 18px;
        img{align-self: center;
        }
    }
    .badge-icon {
        width: 18px;
        margin-bottom: -3px;
        margin-left: 3px;
    }
    @media screen and (max-width: palette.$screen_medium) {
        .killfeed-message{
            font-size: 9px;
        }
    }
}
#information-killbox{
    width: fit-content;
    font-family: "Russo-One";
    font-size: 30px;
    height: fit-content;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 40%;
    padding: 15px;
    margin: auto;
    @media screen and (max-width: palette.$screen_medium) {
        top: 20%;
        border-radius: 5px;
        font-size: 10px;
        padding: 7px;
    }
}
#information-interaction{
    width: fit-content;
    font-family: "Russo-One";
    font-size: 15px;
    height: fit-content;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 50%;
    padding: 15px;
    margin: auto;
    @media screen and (max-width: palette.$screen_medium) {
        top: 20%;
        border-radius: 5px;
        font-size: 7px;
        padding: 7px;
    }
}
#killeader-container{
    #killeader-container-icon{
        width: 30px;
        height: 30px;
        position: relative;
        transform: translate(0%,25%);
        left: 0px;
    }
    width: fit-content;
    font-family: "Russo-One";
    font-size: 15px;
    height: fit-content;
    position: absolute;
    top: 140px;
    right: 5px;
    padding: 15px;
    @media screen and (max-width: palette.$screen_medium) {
        font-size: 5px;
        top: 5px;
        right: 5px;
        #killeader-container-icon{
            width: 10px;
            height: 10px;
        }
    }
}
#gui-items{
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;

    display: flex;
    flex-direction: row;
    gap: 5px;
    @media screen and (max-width: palette.$screen_medium) {
        bottom: 65px;
        gap: 2px;
        .inventory-item-slot{
            width: 23px;
            height: 23px;
            .slot-count{
                font-size: 6px;
            }
            .slot-number{
                font-size: 4px;
            }
            .slot-image {
                width: 20px;
                height: 20px;
            }
        }
    }
}
#help-gui{
    pointer-events: none;
    display: flex;
    position: absolute;
    left: 5px;
    top: 50%;
    flex-direction: column;
    transform: translateY(-50%);
    font-family: "Russo-One";
    font-size: 20px;
    @media screen and (max-width: palette.$screen_medium){
        font-size: 10px;
    }
}
#vignetting-gfx {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("/img/menu/background/vignetting.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 8;
}

#tiltshift-gfx {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 6;
}

#tiltshift-gfx::after {
    content: "";
    position: absolute;
    inset: 0;

    backdrop-filter: blur(5px) saturate(1.1) contrast(1.1);

    mask-image: radial-gradient(circle at top left, #fff 0%, transparent 60%),
                radial-gradient(circle at top right, #fff 0%, transparent 60%),
                radial-gradient(circle at bottom left, #fff 0%, transparent 60%),
                radial-gradient(circle at bottom right, #fff 0%, transparent 60%);
    mask-repeat: no-repeat;
    mask-position: top left, top right, bottom left, bottom right;
    mask-size: 50% 50%;

    -webkit-mask-image: radial-gradient(circle at top left, #fff 0%, transparent 60%),
                        radial-gradient(circle at top right, #fff 0%, transparent 60%),
                        radial-gradient(circle at bottom left, #fff 0%, transparent 60%),
                        radial-gradient(circle at bottom right, #fff 0%, transparent 60%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top left, top right, bottom left, bottom right;
    -webkit-mask-size: 50% 50%;
}
#recolor {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    filter:blur(0.5px) saturate(1.1) contrast(1.1);
}
#bloom-gfx {
    position: absolute;
    pointer-events: none;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}
#debug-show{
    position: absolute;
    left: 5px;
    top: 40%;
}