@use "../palette.scss";
#right-joystick,
#left-joystick{
    position: absolute;
    right: 0px;
    top: 54vh;
    width: 300px;
    height: 300px;
    z-index: 9999;
    .knob{
        width: 30%;
        height: 30%;
        background-color: #555e;
    }
    background-color: #0003;
    @media screen and (max-width: palette.$screen_large) {
        width: 130px;
        height: 130px;
        top: 55vh;
    }
    @media screen and (max-width: palette.$screen_medium) {
        top: 35vh;
        width: 100px;
        height: 100px;
    }
}
#left-joystick{
    left: 10%;
    @media screen and (max-width: palette.$screen_large) {
        left:10%;
    }
    @media screen and (max-width: palette.$screen_medium) {
        left:16%;
    }
}
#right-joystick{
    left: 54%;
    @media screen and (max-width: palette.$screen_large) {
        left:58%;
    }
    @media screen and (max-width: palette.$screen_medium) {
        left:58%;
    }
}
#mobile-action-buttons{
    position: absolute;
    pointer-events: none;
    *{
        pointer-events: auto;
    }
    width: 100vw;
    height: 100vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    button{
        z-index: 9999;
        position: absolute;
        width: 100px;
        height: 100px;
        padding: 30px;
        border-radius: 100%;
        div{
            position: absolute;
            background-size: cover;
            margin: auto;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            opacity: 50%;
            width: 60%;
            height: 60%;
        }
    }
    #btn-mobile-interact{
        left:60%;
        top:30%;
        div{
            background-image: url("/img/menu/gui/buttons/interaction_button.svg");
        }
    }
    #btn-mobile-reload{
        align-self: center;
        left:68%;
        bottom: 108px;
        transform: scale(60%);
        div{
            background-image: url("/img/menu/gui/buttons/reload_button.svg");
        }
    }
    @media screen and (max-width: palette.$screen_large) {
        button{
            left: 20%;
            width: 50px; //LOL
            height: 50px;
        }
        #btn-mobile-reload{
            left:67%;
            bottom: 66px;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        button{
            width: 50px;
            height: 50px;
        }
        #btn-mobile-reload{
            transform: scale(40%);
            left:60%;
            bottom: 47px;
        }
    }
}