@use "../palette.scss";
@use "./buttons.scss";

.background-menu {
    background: rgba(13, 17, 23, 0.8);
    border-radius: 15px;
    border: 2px solid rgba(7, 170, 238, 0.5);
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    
    &:hover {
        border-color: rgba(7, 170, 238, 0.8);
        box-shadow: 0 0 20px rgba(7, 170, 238, 0.2);
    }
}

.background-menu-green {
    @extend .background-menu;
    border: 2px solid rgba(0, 170, 119, 0.5);
    
    &:hover {
        border-color: rgba(0, 170, 119, 0.8);
        box-shadow: 0 0 20px rgba(0, 170, 119, 0.2);
    }
}

.span{
    color: #eee;
    font-size: 30px;
    font-family: "Russo-One",Arial;
    @media screen and (max-width: palette.$screen_medium) {
        font-size: 15px;
    }
    pointer-events: none;
    user-select: none;
}
.span-medium{
    color: #eee;
    font-size: 20px;
    font-family: "Russo-One",Arial;
    @media screen and (max-width: palette.$screen_medium) {
        font-size: 10px;
    }
    pointer-events: none;
    user-select: none;
    font-weight: 100;
}

.span-medium-icon {
    width: 18px;
    margin-bottom: -3px;
    margin-left: 3px;
}
.span-large-icon {
    width: 30px;
    margin-bottom: -3px;
    margin-left: 3px;
}
.text{
    color: #eee;
    font-family: "Russo-One",Arial;
}
.skin-closeup{
    position: relative;
    width: 100px;
    height: 240px;
    padding: 0;
    margin: 0;
    *{
        position: absolute;
        background-size: cover;
    }
    .body {
        width: 100px;
        height: 237px;
        left: 0px;
        top: 0px;
    }
    .mounth{
        width: 16px;
        height: 8px;
        left: 34px;
        top: 72px;
    }
}
.character {
    width: 300px;
    height: 300px;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease;
    
    &:hover {
        transform: rotate(90deg) scale(1.05);
    }

    .body {
        position: relative;
        width: 200px;
        height: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
    }

    .fist-left,
    .fist-right {
        position: relative;
        width: 140px;
        height: 40px;
        left: 130px;
        z-index: -1;
        background-size: cover;
        transition: transform 0.3s ease;
    }

    .fist-left {
        top: 190px;
        rotate: -10deg;
    }

    .fist-right {
        top: 70px;
        rotate: 10deg;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(7, 170, 238, 0.3);
    border-radius: 4px;
    
    &:hover {
        background: rgba(7, 170, 238, 0.5);
    }
}