@use "palette.scss";
#level-status-container{
    align-items: center;
    align-self: center;
    text-align: center;
    #level-bar-container{
        display: block;
        background: #21c6;
        border-radius: 2px;
        
        justify-content: space-between;
        align-items: center;

        width: 300px;
        height: 30px;
        font-size: 20px;
        font-family: "Russo-One", serif; bottom: 5px;

        transform: translateY(-100%),translateX(-100%);
        #level-bar-content{
            top: 0px;
            left: 0px;
            border-radius: 2px;
            width: 50%;
            height: 100%;
            transition: width ease-in-out 3s;

            background: linear-gradient(90deg, #07aaee,#00aa77);
            transition: width ease-in-out 0.2s;
        }
    }
}
#status-container-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: start;
    text-align: start;
}