@use "palette.scss";
@use "./fonts.scss";
@use "./game/game.scss";
@use "./utils/others.scss";
@use "./menu.scss";
@use "./md.scss";
@use "./accounts.scss";
html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body, p, input, button, select {
    font-family: "Inter", sans-serif;
    font-size: 16px;

    color: #ffffff;
}
body {
    overscroll-behavior: none;
}
