@use "palette.scss";
@use "./fonts.scss";
@use "./game/game.scss";
@use "./utils/others.scss";
@use "./menu.scss";
@use "./md.scss";
@use "./accounts.scss";
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    *{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
    }
}

body, p, input, button, select {
    font-family: "Russo-One","Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
}
body {
    overscroll-behavior: none;
}
