@use "palette.scss";
#menu {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: url("/img/menu/background/background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 20px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%);
        pointer-events: none;
    }
}
#menu-background-effects{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}
#menu-bullets{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: url("/img/menu/background/effects/bullets.png");
    background-size: cover;
    animation: shake_bullets 8s infinite alternate linear;
    opacity: 50%;
}
@keyframes shake_bullets {
    0% { transform:rotate(-1deg) translate(-1%,1%); }
    50% { transform:rotate(1deg) translate(1%,0.5%); }
    100% { transform:rotate(-1deg) translate(1%,-1%); }
}
#both-ui{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}
#loading-screen{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url("/img/menu/background/loading_background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 101;
    display: flex;
    flex-direction: row;
    padding: 10px;
    #loading-screen-logo{
        left: 20px;
        top: 20px;
        background-image: url("/img/menu/logos/MD/MD.svg");
        background-size: cover;
        width: 100px;
        height: 100px;
        animation: rotating 0.7s infinite alternate linear;
    }
    #loading-hint{
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 2px;
        background-color: #0003;
    }
    transition: opacity 0.5s ease-in-out;
    @media screen and (max-width: palette.$screen_large) {
        #loading-screen-logo{
            left: 15px;
            top: 15px;
            width: 75px;
            height: 75px;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        #loading-screen-logo{
            left: 10px;
            top: 10px;
            width: 50px;
            height: 50px;
        }
    }
}

@keyframes rotating {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(90deg);
    }
}
#top-left-section{
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    #btn-settings{
        transition: none;
    }
}
#settings-tabs{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
    z-index: 5;
    margin: auto;
}

#main-section {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px;
    z-index: 1;

    @media (max-width: 1200px) {
        position: relative;
        width: 90%;
        max-width: 500px;
        transform: translateX(-50%);
        top: 0;
        margin: 20px auto;
    }
}

#about-section {
    position: absolute;
    width: 400px;
    height: 500px;
    padding: 25px;
    z-index: 1;
    overflow-y: auto;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1200px) {
        position: relative;
        width: 90%;
        max-width: 500px;
        height: auto;
        max-height: 250px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin: 20px auto;
    }

    h2 {
        color: #fff;
        font-family: "Russo-One";
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 15px;
    }
}

#social-section {
    position: absolute;
    width: 450px;
    margin-top: 70px;
    z-index: 1;
    right: 10%;
    top: calc(50% + 270px);
    transform: translateY(-50%);

    @media (max-width: 1200px) {
        position: relative;
        width: 90%;
        max-width: 500px;
        right: auto;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        margin: 20px auto;
    }

    h2 {
        color: #fff;
        font-family: "Russo-One";
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }
}

#character-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
}

#insert-name {
    width: 100%;
    max-width: 300px;
}

#gamemode-info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}
#sections-tabs{
    position: absolute; /* ou absolute */
    z-index: 9000;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: fit-content;
}
.entry-tab{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-family: "Russo-One";
    font-size: 30px;
}
#account-status{
    position: relative;
    left: 98%;
    top: 0.5%;
    transform: translate(-100%);
    width: fit-content;
    height: fit-content;
    text-align: center;
    flex-direction: column;
    font-family: "Russo-One",monospace;
    font-size: 20px;
    display: flex;
    *{
        margin-left: 20px;
        margin-right: 20px;
    }
}
#title-section {
    width: 500px;
    z-index: 1;

    user-select: none;
    margin-bottom: 100px;
    animation: TitleAnimation 23s infinite ease-in-out alternate;
    @media screen and (max-width: palette.$screen_large) {
        width: 300px;
        margin-bottom: 30px;
    }
    @media screen and (max-width: palette.$screen_medium) {
        width: 200px;
        margin-bottom: 15px;
    }
}
@keyframes TitleAnimation {
    0% { transform:rotate(-3deg) scale(100%); }
    100% { transform:rotate(3deg) scale(108%); }
}
#menu-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    gap:10px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    opacity: 0;
    transition: opacity 1s linear;
    button{
        padding-left: 40px;
        padding-right: 40px;
        width: 300px;
    }
    @media screen and (max-width: palette.$screen_large) {
        gap:6px;
        button{
            font-size: 20px;
            width: 250px;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        gap:3px;
        button{
            font-size: 15px;
            width: 200px;
        }
    }
}
.md-menu-game{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    transition: opacity 1s linear;
    .close-btn{
        width: 40px;
        height: 40px;
        align-self: top;
        border-radius: 50%;
        font-size: 15px;
        text-align: center;
        padding: 0;
    }
    kl-md-submenu-content{
        gap:100px;
    }
    kl-md-menu-options{
        *{
            border-radius: 0px;
            font-size: 20px;
            width: 300px;
            padding-left: 3px;
            text-align: left;
        }
    }
    @media screen and (max-width: palette.$screen_large) { 
        kl-md-submenu-content{
            gap:75px;
        }
        kl-md-menu-options{
            *{
                font-size: 15px;
                width: 200px;
                height: 30px;
            }
        }
        .close-btn{
            width: 30px;
            height: 30px;
            font-size: 10px;
        }
    }
    @media screen and (max-width: palette.$screen_medium) { 
        kl-md-submenu-content{
            gap:50px;
        }
        kl-md-menu-options{
            *{
                font-size: 10px;
                width: 150px;
                height: 25px;
            }
        }
        .close-btn{
            width: 20px;
            height: 20px;
            font-size: 7px;
        }
    }
}
#loadout-sm-extra{
    display: flex;
    flex-direction: column;
    border: 2px solid #053;
    background-color: #cfc3;
    width: fit-content;
    height: fit-content;
    margin: none;
    padding: 0px;
}
#loadout-sm-extra-content{
    width: 430px;
    height: 400px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    @media screen and (max-width: palette.$screen_large) {
        padding: 5px;
        width: 250px;
        height: 225px;
        gap: 7px;
    }
    @media screen and (max-width: palette.$screen_medium) {
        padding: 5px;
        width: 215px;
        height: 150px;
        gap: 5px;
    }
}
#loadout-sm-extra-view{
    width: 450px;
    height: 200px;
    border-top: 2px solid #053;
    .simage{
        position: absolute;
        left: 50%;
        bottom:5%;
        transform: translate(-50%,-50%);
        width: 80px;
        height: 80px;
    }
    @media screen and (max-width: palette.$screen_large) {
        width: 300px;
        height: 100px;
        .simage{
            width:20px;
            height:20px;
            bottom:1%;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        width: 225px;
        height: 50px;
        .simage{
            width:20px;
            height:20px;
            bottom:1%;
        }
    }
}
.skin-view-menu{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: fit-content;
    border: 2px solid #034;
    align-items: center;
    background:linear-gradient(135deg, #0343, #0364);
    cursor: pointer;
    .name{
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #034;
    }
    .simage{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
    }
    @media screen and (max-width: palette.$screen_large) {
        width: 85px;
        font-size: 10px;
        border-width: 2px;
        .simage{
            width: 25px;
            height: 25px;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        width: 40px;
        font-size: 5px;
        border-width: 1px;
        .simage{
            width: 25px;
            height: 25px;
        }
    }
}
.skin-view-menu-selected{
    border: 4px solid #034; 
    box-shadow: 0 0 20px rgba(7, 170, 238, 0.9);
    @media screen and (max-width: palette.$screen_medium) {
        border-width: 2px;
    }
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;

    .social-link {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background: rgba(7, 170, 238, 0.1);
        border: 2px solid rgba(7, 170, 238, 0.3);
        transition: all 0.3s ease;
        
        &:hover {
            transform: translateY(-2px);
            background: rgba(7, 170, 238, 0.2);
            border-color: rgba(7, 170, 238, 0.6);
            box-shadow: 0 4px 12px rgba(7, 170, 238, 0.2);
        }

        &:active {
            transform: translateY(1px);
        }
    }

    .social-icon {
        width: 28px;
        height: 28px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
        &.discord {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white' stroke='white' stroke-width='0'%3E%3Cpath d='M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0 12.64 12.64 0 0 0-.617-1.25.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0 .084-.028 14.09 14.09 0 0 0 1.226-1.994.076.076 0 0 0-.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1-.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.118.098.246.198.373.292a.077.077 0 0 1-.006.127 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03zM8.02 15.33c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.956 2.418-2.157 2.418zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.955-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.946 2.418-2.157 2.418z'/%3E%3C/svg%3E");
        }
        
        &.youtube {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white' stroke='white' stroke-width='0'%3E%3Cpath d='M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z'/%3E%3C/svg%3E");
        }
        
        &.instagram {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z'/%3E%3C/svg%3E");
        }
        
        &.github {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
        }
        
        &.twitter {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z'/%3E%3C/svg%3E");
        }

        &.windows {
            background-image: url("/img/menu/socials/windows.svg");
        }
        &.linux {
            background-image: url("/img/menu/socials/linux.svg");
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        gap: 10px;
        padding: 7px;
        .social-link {
            width: 24px;
            height: 24px;
        }
        .social-icon {
            width: 14px;
            height: 14px;
            font-size: 5px;
        }
    }
}
#about-sm-social{
    align-content: center;
}
.background-menu-md{
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    @media screen and (max-width: palette.$screen_large) {
        width: 300px;
        height: 300px;
        padding: 7px;
        font-size: 15px;
    }
    @media screen and (max-width: palette.$screen_medium) {
        width: 200px;
        height: 200px;
        padding: 5px;
        font-size: 10px;
    }
}
.background-menu-ss{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.updates-section {
    overflow-y: scroll;
    padding: 25px;
    z-index: 1;

    h2 {
        color: #fff;
        font-family: "Russo-One";
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .update-item {
        margin-bottom: 15px;
        padding: 15px;
        background: rgba(7, 170, 238, 0.1);
        border-radius: 8px;
        
        h3 {
            color: #fff;
            font-size: 18px;
            margin-bottom: 8px;
        }
        p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            line-height: 1.4;
            margin: 5px 0;
        }
    }
    @media screen and (max-width: palette.$screen_medium) {
        padding: 12px;
        h2 {
            font-size: 12px;
        }
        .update-item {
            margin-bottom: 7px;
            padding: 7px;
            border-radius: 4px;
            h3 {
                font-size: 9px;
                margin-bottom: 4px;
            }
            p {
                font-size: 8px;
                margin: 2px 0;
            }
        }
    }
}
.play-select-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    text-align: center;
    align-content: center;
    font-family: "Russo-One";
}
.gamemode-image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-size: 300px 300px;
    align-self: center;
    @media screen and (max-width: palette.$screen_medium) {
        background-size: 180px 180px;
        width: 180px;
        height: 180px;
    }
}